.board-header-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  .search-form {
    flex: 1;
  }

  .add-board-button {
    margin: 10px;
  }
}

ul {
  padding: 0;
  margin: 0 0 0 20px;
}

.todo-board {
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  padding: 10px;
  position: relative;
  margin-bottom: 15px;

  /deep/ .mat-form-field {
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-infix {
      border: none;
      padding: 0px;
    }

    .mat-form-field-label {
      top: 0;
    }

    .mat-form-field-label-wrapper {
      top: 0;
      padding: 0px;
    }

    .mat-form-field-underline {
      bottom: 0;
    }

    .mat-form-field-underline {
    }

    .mat-form-field-subscript-wrapper,
    .mat-form-field-hint-wrapper {
      margin: 0;
    }
  }

  .todo-board-header {
    display: flex;
    justify-content: space-between;

    .todo-board-name-input {
      flex: 1;
    }
  }

  .todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .todo-item-content-input {
      flex: 1;
      margin: 0 5px;
      height: 24px;
    }
  }

  .completed-items-container {
    opacity: 0.6;
  }

  .completed-items-header {
    padding: 0;
    margin: 10px 0 0 10px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  .completed-items-header p {
    margin: 0;
    padding: 0;
  }

  .add-todo-container {
    display: flex;
    flex: 1;
    justify-content: right;

    .add-todo-button {
      margin-left: auto;
    }
  }

  .mat-form-field-infix {
    border: none;
  }

  .delete-todo-item {
    cursor: pointer;
    visibility: hidden;
  }

  .hovered > .delete-todo-item {
    visibility: visible;
  }

  .full-width {
    width: 100%;
  }

  ul {
    list-style: none;
  }

  .completed-item {
    text-decoration: line-through;
  }
}

.spinner-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.saving-progress-container {
  position: absolute;
  top: 57px;
  left: 0px;
  right: 0px;
}
