<div class="saving-progress-container" *ngIf="isSaving">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="board-header-container">
  <mat-icon>search</mat-icon>
  <mat-form-field class="search-form">
    <mat-label>Search</mat-label>
    <input matInput type="text" />
  </mat-form-field>
  <button
    class="add-board-button"
    mat-button
    color="primary"
    aria-label="Add a new board"
    (click)="handleAddBoard()"
  >
    <mat-icon>add</mat-icon>
    <span>Add Board</span>
  </button>
</div>

<div *ngIf="!todoBoards" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div class="todo-board" *ngFor="let todoBoard of todoBoards">
  <div class="todo-board-header">
    <todo-board-name-input
      [todoBoard]="todoBoard"
      (nameChanged)="handleNameChanged($event, todoBoard.id)"
      class="todo-board-name-input"
    ></todo-board-name-input>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button (click)="handleDeleteBoard(todoBoard.id)" mat-menu-item>
        Delete Board
      </button>
    </mat-menu>
  </div>
  <ul>
    <li
      *ngFor="
        let todoItem of todoBoard.todoItems | callback: filterCompleteTodos
      "
      class="todo-list-item"
      hover-class="hovered"
    >
      <mat-checkbox
        [checked]="todoItem.isComplete"
        (change)="handleCheck($event.checked, todoItem.todoId)"
      >
      </mat-checkbox>
      <todo-item-content-input
        [ngClass]="{ 'completed-item': todoItem.isComplete }"
        [todoItem]="todoItem"
        (contentChanged)="handleContentChanged($event, todoItem.todoId)"
        class="todo-item-content-input"
      ></todo-item-content-input>
      <span
        (click)="handleDeleteTodo(todoItem.todoId)"
        class="delete-todo-item"
      >
        <mat-icon aria-hidden="true"> clear </mat-icon>
      </span>
    </li>
  </ul>
  <div class="completed-items-container">
    <div class="completed-items-header" (click)="toggleExpandCompletedTodos()">
      <mat-icon aria-hidden="true">{{
        expandCompletedTodos ? "expand_more" : "expand_less"
      }}</mat-icon>
      <p>
        Completed todos ({{
          (todoBoard.todoItems | callback: filterIncompleteTodos).length
        }})
      </p>
    </div>
    <ul *ngIf="expandCompletedTodos">
      <li
        *ngFor="
          let todoItem of todoBoard.todoItems | callback: filterIncompleteTodos
        "
        class="todo-list-item"
        hover-class="hovered"
      >
        <mat-checkbox
          [checked]="todoItem.isComplete"
          (change)="handleCheck($event.checked, todoItem.todoId)"
        >
          <span class="completed-item">
            {{ todoItem.content }}
          </span>
        </mat-checkbox>
        <span
          (click)="handleDeleteTodo(todoItem.todoId)"
          class="delete-todo-item"
        >
          <mat-icon aria-hidden="true"> clear </mat-icon>
        </span>
      </li>
    </ul>
  </div>
  <div class="add-todo-container">
    <button
      class="add-todo-button"
      mat-fab
      color="accent"
      aria-label="Add a new todo"
      (click)="handleAddTodo(todoBoard.id)"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
