<div *ngIf="!todoBoards" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div class="todo-board" *ngFor="let todoBoard of todoBoards">
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Enter a name..." [value]="todoBoard.name" />
  </mat-form-field>
  <ul>
    <li *ngFor="let todoItem of todoBoard.todoItems">
      <mat-checkbox
        [checked]="todoItem.isComplete"
        (change)="onCheck($event.checked, todoItem.todoId)"
      >
        <span [ngClass]="{ 'completed-item': todoItem.isComplete }">
          {{ todoItem.content }}
        </span>
      </mat-checkbox>
    </li>
  </ul>
</div>
