<div *ngIf="!todoBoards" class="spinner-container">
  <mat-spinner></mat-spinner>
</div>

<div class="todo-board" *ngFor="let todoBoard of todoBoards">
  <mat-spinner
    class="saving-spinner"
    *ngIf="isSaving"
    [diameter]="25"
  ></mat-spinner>
  <todo-board-name-input
    [todoBoard]="todoBoard"
    (nameChanged)="handleNameChanged($event, todoBoard.id)"
  ></todo-board-name-input>
  <ul>
    <li *ngFor="let todoItem of todoBoard.todoItems">
      <mat-checkbox
        [checked]="todoItem.isComplete"
        (change)="onCheck($event.checked, todoItem.todoId)"
      >
        <span [ngClass]="{ 'completed-item': todoItem.isComplete }">
          {{ todoItem.content }}
        </span>
      </mat-checkbox>
    </li>
  </ul>
</div>
